$first-color: #606060
$second-color: #1abb9c

* 
    margin: 0
    padding: 0


.menu-link 
    color: $first-color
    text-transform: uppercase
    text-decoration: none
    font-family: Raleway
    font-size: 13px
    line-height: 22px
    font-weight: 800
    &:hover
        color: $second-color
    &:active
        color: $first-color
        opacity: 0.7         

.welcoming-words
    font-family: Raleway
    font-size: 35px
    line-height: 22px
    font-weight: 800
    color: $first-color
    &-low
        font-family: Raleway
        font-size: 25px
        line-height: 22px
        font-weight: 300
        color: $first-color

.slider 
    width: 1170px
    height: 550px
    background-color: #bbbbbb
    background-image: url(../img/slider.jpg)   

    &-text 
        width: 361px
        height: 48px
        background-color: rgba(255,255,255,0.94)    
        font-family: Raleway
        font-size: 20px
        line-height: 22px
        font-weight: 500
        text-transform: uppercase
        color: $first-color
        text-align: center
        text-justify: center
        &-low
            width: 421px
            font-size: 16px
            text-transform: none

            