* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 109px;
  background-color: #f5f5f5;
}

.menu-link {
  color: #606060;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Raleway;
  font-size: 13px;
  line-height: 22px;
  font-weight: 800;
}

.menu-link:hover {
  color: #1abb9c;
}

.menu-link:active {
  color: #606060;
  opacity: 0.7;
}

.welcoming-words {
  font-family: Raleway;
  font-size: 35px;
  line-height: 22px;
  font-weight: 800;
  color: #606060;
}

.welcoming-words-low {
  font-family: Raleway;
  font-size: 25px;
  line-height: 22px;
  font-weight: 300;
  color: #606060;
}

.slider {
  width: 1170px;
  height: 550px;
  background-color: #bbbbbb;
  background-image: url(../img/slider.jpg);
}

.slider-text {
  width: 361px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.94);
  font-family: Raleway;
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
  color: #606060;
  text-align: center;
  text-justify: center;
}

.slider-text-low {
  width: 421px;
  font-size: 16px;
  text-transform: none;
}

.dark-header {
  font-family: Raleway;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  color: #606060;
}

.lite-header {
  font-family: Raleway;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  color: #d0d0d0;
}

.service {
  width: 262px;
  min-height: 304px;
  border: 1px solid #e1e1e1;
}

.service h3 {
  font-family: Raleway;
  font-size: 15px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #606060;
}

.service p {
  font-family: Raleway;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #7a7a7a;
}

.our-process {
  background: url(../img/process_background.jpg) no-repeat;
  min-height: 408px;
}

.our-process_top p {
  font-family: Raleway;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #d0d0d0;
}

.steps-list p {
  font-family: Raleway;
  font-size: 14px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  color: #dddddd;
}

.projects-list h3 {
  font-family: Raleway;
  font-size: 15px;
  line-height: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: #606060;
}

.projects-list span {
  font-family: Raleway;
  font-size: 12px;
  line-height: 26px;
  font-weight: 500;
  color: #1abb9c;
}

.projects-list p {
  font-family: Raleway;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #7a7a7a;
}

.feedback {
  background: url(../img/feedback_background.jpg) no-repeat;
  min-height: 320px;
}

.feedback-one p {
  font-family: Raleway;
  font-size: 20px;
  line-height: 35px;
  font-weight: 300;
  color: #d8d8d8;
}

.feedback-one cite {
  font-family: Raleway;
  font-size: 12px;
  line-height: 22px;
  font-weight: 800;
  text-transform: uppercase;
  color: #1abb9c;
}

.journals-name {
  font-family: Raleway;
  font-size: 16px;
  line-height: 26px;
  font-weight: 800;
  color: #606060;
}

.journals-name span {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  color: #1abb9c;
}

.journals-text {
  font-family: Raleway;
  font-size: 14px;
  line-height: 25px;
  font-weight: 500;
  color: #7a7a7a;
}

.footer-top {
  font-family: Raleway;
  min-height: 379px;
  background-color: #373737;
}

.footer-top_part h3 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f0f0f0;
}

.footer-top_part p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #cacaca;
}

.footer-top_part cite {
  font-size: 12px;
  line-height: 25px;
  font-weight: 500;
  color: #cacaca;
}

.footer-bottom {
  min-height: 91px;
  background-color: #333333;
  font-family: Raleway;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
  color: #cacaca;
}
/*# sourceMappingURL=style.css.map */