$first-color: #606060
$second-color: #1abb9c
$lite-color: #d0d0d0

* 
    margin: 0
    padding: 0


.menu-link 
    color: $first-color
    text-transform: uppercase
    text-decoration: none
    font-family: Raleway
    font-size: 13px
    line-height: 22px
    font-weight: 800
    &:hover
        color: $second-color
    &:active
        color: $first-color
        opacity: 0.7         

.welcoming-words
    font-family: Raleway
    font-size: 35px
    line-height: 22px
    font-weight: 800
    color: $first-color
    &-low
        font-family: Raleway
        font-size: 25px
        line-height: 22px
        font-weight: 300
        color: $first-color

.slider 
    width: 1170px
    height: 550px
    background-color: #bbbbbb
    background-image: url(../img/slider.jpg)   

    &-text 
        width: 361px
        height: 48px
        background-color: rgba(255,255,255,0.94)    
        font-family: Raleway
        font-size: 20px
        line-height: 22px
        font-weight: 500
        text-transform: uppercase
        color: $first-color
        text-align: center
        text-justify: center
        &-low
            width: 421px
            font-size: 16px
            text-transform: none

.dark-header 
    font-family: Raleway
    font-size: 16px
    line-height: 22px
    font-weight: 800
    text-transform: uppercase
    color: $first-color

.lite-header                 
    font-family: Raleway
    font-size: 16px
    line-height: 22px
    font-weight: 800
    text-transform: uppercase
    color: $lite-color

.service
    width: 262px
    min-height: 304px
    border: 1px solid #e1e1e1   
    & h3 
        font-family: Raleway
        font-size: 15px
        line-height: 26px
        font-weight: 800
        text-transform: uppercase
        color: $first-color
    & p 
        font-family: Raleway
        font-size: 14px
        line-height: 25px
        font-weight: 500
        color: #7a7a7a      

.our-process
    background: url(../img/background.png) no-repeat
    &_top
        & p 
            font-family: Raleway
            font-size: 14px
            line-height: 25px
            font-weight: 500
            color: $lite-color

.steps
    &-list
        & p 
            font-family: Raleway
            font-size: 14px
            line-height: 22px
            font-weight: 800
            text-transform: uppercase
            color: #dddddd

